/* Fixed form action buttons */
body.fixed-actions {
  padding-bottom: 2em;
}
.fixed-actions #overlay-content {
  padding-bottom: 4em;
}
.fixed-actions #edit-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: solid 1px #666;
  padding: 1em 40px 0;
  margin: 0;
  box-shadow: 0 0 10px #000;
}
.fixed-actions #overlay-content #edit-actions {
  padding: 1em 6% 0;
}
/* undo most of the above for the module_filter module changes to work */
.fixed-actions #module-filter-wrapper #edit-actions {
  position: inherit;
  border-top: inherit;
  width: inherit;
  box-shadow: inherit;
  padding: inherit;
  left: inherit;
}
/* Fix for AJAX Throbber floating to the right and form elements below field which triggered the AJAX activity to jump */
.ajax-progress-throbber {
  float: none;
}

/* Hide preview button */
#edit-preview {
  display: none;
}
/* Don't hide image style previews */
#image-style-form #edit-preview {
  display: inherit;
}
/* Hide delete button */
.page-node #edit-delete {
  display: none;
}

/* Different styling for second error messages*/
form .messages.error {
  background-image: none;
  margin: 6px 0;
  padding: 10px;
}

/* Monotype font for setting promo item block visibility */
.field-name-field-block-visibility .form-textarea {
  font-family: courier, "courier new", monospace;
}

/* Additional action link icons */
ul.action-links a.action-link-rearrange {
  background-image: url(../images/rearrange.png);
  padding-left: 20px; /* LTR */
}

ul.action-links a.action-link-pdf {
  background-image: url(../images/pdficon_small.png);
  padding-left: 20px; /* LTR */
}

/* form required label */
.form-required span {
  font-weight: normal;
  font-size: .85em;
  padding-right: 6px;
  text-transform: none;
}

/* Properly indent fieldset descriptions */
.fieldset-description {
  padding-left: 15px;
}

/* For fields that use a fieldset legend as the title, make that legend bold */
fieldset.fieldset-invisible > legend:first-child {
  font-weight: bold;
}

/* Add a way to highlight the current page in a list of secondary links */
ul.secondary li a.current-page {
  background-color: #000;
  color: #fff;
}

/* For highlighted information in autocompletes */
small.highlight {
  color: #900;
  background: #ffc;
  padding: 2px;
  margin: -2px 0;
}

/* Indent role expiry sections */
.form-item[class*=form-item-role-expire] {
  padding-left: 1.5em;
}

/* Make label for "office hours" day of week wider so that "Wednesday" is not tight/overlapping */
td div.office-hours-block label {
  width: 6.5em;
}
